footer {
    background-color: var(--color-primary);
    padding: 40px 10px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .medias {
            margin-bottom: 25px;
        }
        svg {
            margin: 10px;
        }

        hr {
            width: 90%;
            border-color: var(--color-black);
        }
        .copyright {
            font-size: var(--font-size-small);
            margin-top: 25px;
        }
    }
}
