h1 {
    text-align: center;
    position: relative;
}
.projet_single {
    position: relative;
    margin-bottom: 60px;
    margin-top: 50px;

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 100px;
        margin-bottom: 200px;
    }

    .content {
        padding: 15px;

        border-bottom: 1px solid var(--color-black);
        border-left: 1px solid var(--color-black);
        @media screen and (min-width: $breakpoint-md) {
            width: 48%;
            margin-right: -10%;
        }
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
        color: var(--color-secondary);
    }
    img {
        margin-top: -50px;
        margin-bottom: -50px;

        @media screen and (min-width: $breakpoint-md) {
            order: 1;
            width: 48%;
        }
        @media screen and (min-width: $breakpoint-sm) {
            align-self: center;
            margin-bottom: -10%;
        }
    }
    .titre-projet p {
        text-align: center;
        margin-top: 0;
    }
    .description-projet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin: 30px 0;
        p {
            margin: 0 10px 0 0;
            width: 70%;
        }
        svg {
            margin-bottom: 10px;
        }
        .logiciel {
            margin-right: 15%;
        }
    }
    .btn_article {
        position: absolute;
        bottom: -30px;
    }
}

.explication {
    h3 {
        color: var(--color-secondary);
    }

    .aspect-projet {
        margin: 100px 0;

        img {
            max-width: 70%;
        }

        .img2_timflix {
            margin-top: 25px;
        }
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        .desc_aspect {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        p {
            max-width: 50%;
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .explication .aspect-projet:nth-child(odd) {
        text-align: left;
        img {
            align-self: flex-end;
        }
    }

    .explication .aspect-projet:nth-child(even) {
        text-align: right;
        .desc_aspect {
            align-items: flex-end;
        }
        img {
            align-self: flex-start;
        }

        .img2_timflix {
            align-self: flex-end;
            margin-top: 50px;
        }
    }
}

//blobs

.img_projet_relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;
    width: 100%;
    order: 1;

    @media screen and (min-width: $breakpoint-sm) {
        height: 400px;
    }

    margin-bottom: -25px;

    @media screen and (min-width: $breakpoint-sm) {
        max-width: 80%;
        align-self: center;
    }
    @media screen and (min-width: $breakpoint-md) {
        width: 60%;
    }
}
