.body_acceuil {
    overflow: hidden;
}

.contenu__accueil {
    h1 {
        font-size: 2.8rem;
        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h1);
        }
        text-align: left;
    }
    h3 {
        margin-left: 50px;
        position: relative;
        @media screen and (min-width: $breakpoint-md) {
            margin-left: 50px;
        }
        @media screen and (min-width: $breakpoint-xl){
            font-size: 2.25rem;
        }
    }

    .description__acceuil {
        text-align: left;

        p {
            text-align: end;
            font-weight: 600;

            @media screen and (min-width: $breakpoint-md){
                text-align: left;
                width: 350px;  
            }

            @media screen and (min-width: $breakpoint-xl){
                font-size: 1.4rem;
                width: 55%;
            }
        }
    }
    .btn__accueil {
        display: inline-block;
        font-weight: bold;
        margin-top: 20px;

        @media screen and (min-width: $breakpoint-md) {
            margin-top: 15%;
        }
        @media screen and (min-width: $breakpoint-xl){
            margin-top: 30%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;

        margin-left: 10%;
    }
}

.hero__acceuil .wrapper {
    .img__desktop {
        display: none;

        @media screen and (min-width: $breakpoint-md) {
            display: block;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        justify-content: space-between;

        position: relative;

        h1 {
            margin-bottom: 0;
            margin-top: 50px;
        }

        .description__acceuil {
            margin-top: 100px;
        }

    }
}
