.body_acceuil{
    overflow: hidden;
}

.contenu__accueil {
    h3 {
        margin-left: 50px;
        position: relative;
        @media screen and (min-width: $breakpoint-md) {
            margin-left: 50px;
        }
    }

    img {
        margin-top: -20%;
        
        @media screen and (min-width: $breakpoint-sm) {
           max-width: 90%;
        }
    }
    .img__mobile {
        @media screen and (min-width: $breakpoint-sm) {
            margin-top: -15%;
            margin-left: 20%;

         }
        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }
    }
    .description__acceuil {
        margin-top: -20%;
        text-align: left;

        p {
            text-align: end;
            font-weight: 600;
        }
    }
    .btn__accueil {
        display: inline-block;
        font-weight: bold;
        margin-top: 20px;


        @media screen and (min-width: $breakpoint-md) {
            margin-top: 200px;
        }
    }

        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
        }
}


.hero__acceuil .wrapper {

    .img__desktop {
        display: none;

        @media screen and (min-width: $breakpoint-md) {
            display: block;
        }
    
    }

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        justify-content: space-between;

        position: relative;

        h1 {
            margin-bottom: 0;
            margin-top: 50px;
        }

        img {
            position: absolute;
            z-index: -1;
            top: -15%;
            right: -5%;
            width: 70%;
        }
        .description__acceuil {
            margin-top: 100px;
        }

        p {
            text-align: left;
            width: 350px;
        }
    }
}
