.projet_single{
    position: relative;
    margin-bottom: 60px;
    margin-top: 50px;

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;
        justify-content: center;
 
        margin-top: 100px;
        margin-bottom: 200px;
     }

    .content {
        padding: 15px;

        border-bottom: 1px solid var(--color-black);
        border-left: 1px solid var(--color-black);
        @media screen and (min-width: $breakpoint-md) {
            width: 48%;
            margin-right: -10%;
        }
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
        color: var(--color-secondary);
    }
    img {
        margin-top: -50px;
        margin-bottom: -50px;
        @media screen and (min-width: $breakpoint-md){
            order: 1; 
            width: 48%;
        }
        @media screen and (min-width: $breakpoint-sm) {
            max-width: 80%;
            align-self: center;
        }
       
    }
    .titre-projet p {
        text-align: center;
        margin-top: 0;
    }
    .description-projet {
        display: flex;
        align-items: flex-start;

        margin: 30px 0;
        p {
            margin: 0 10px 0 0;
        }
        svg {
            margin-bottom: 10px;
        }
    }
    .btn_article {
        position: absolute;
        bottom: -30px;
    }
}

.explication{
    h3{
        color: var(--color-secondary);
    }
    .aspect-projet{
        margin: 100px 0;
    }
}