h1 {
    text-align: center;
    position: relative;
}
.projet_single {
    position: relative;
    margin-bottom: 60px;
    margin-top: 50px;

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 100px;
        margin-bottom: 200px;
    }

    .content {
        padding: 15px;

        border-bottom: 1px solid var(--color-black);
        border-left: 1px solid var(--color-black);
        @media screen and (min-width: $breakpoint-md) {
            width: 48%;
            margin-right: -10%;
        }
    }

    h3 {
        margin-bottom: 0;
        margin-top: 0;
        color: var(--color-secondary);
        max-width: 700px;
    }
    img {
        margin-top: -50px;
        margin-bottom: -50px;

        @media screen and (min-width: $breakpoint-md) {
            order: 1;
            width: 48%;
        }
        @media screen and (min-width: $breakpoint-sm) {
            align-self: center;
            margin-bottom: -10%;
        }
    }
    .titre-projet p {
        text-align: left;
        margin-left: 20px;
        margin-top: 0;
    }
    .description-projet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin: 30px 0;
        p {
            margin: 0 10px 0 0;
            width: 70%;
        }
        svg {
            margin-bottom: 10px;
        }
        .logiciel {
            display: flex;
            flex-direction: column;
            margin-right: 15%;
        }
    }
    .btn_article {
        position: absolute;
        bottom: -30px;
    }
}

.explication {
    position: relative;
    h3 {
        color: var(--color-secondary);
    }

    .aspect-projet {
        margin: 100px 0;

        img {
            max-width: 70%;
        }

        .video {
            max-width: 70%;
            img {
                max-width: 100%;
            }
        }

        .img2_timflix {
            margin-top: 25px;
        }
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        .desc_aspect {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        p {
            max-width: 50%;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        margin: 0 50px;
    }
}

@media screen and (min-width: $breakpoint-md) {
    .explication .aspect-projet:nth-child(odd) {
        text-align: left;
        img {
            align-self: flex-end;
        }
        .img2_owo {
            align-self: flex-start;
            margin-top: 50px;
        }
    }

    .explication .aspect-projet:nth-child(even) {
        text-align: right;
        .desc_aspect {
            align-items: flex-end;
        }
        img {
            align-self: flex-start;
        }

        .img2_timflix {
            align-self: flex-end;
            margin-top: 50px;
        }
    }
}

//blobs

.img_projet_relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;
    width: 100%;
    order: 1;

    @media screen and (min-width: $breakpoint-sm) {
        height: 400px;
    }

    margin-bottom: -25px;

    @media screen and (min-width: $breakpoint-sm) {
        max-width: 80%;
        align-self: center;
    }
    @media screen and (min-width: $breakpoint-md) {
        width: 60%;
    }
}

.blob_single1 {
    position: absolute;
    top: 0;
    right: -20px;
    width: 55%;
    height: 20%;
}
.blob_single2 {
    position: absolute;
    top: 30%;
    left: -20px;
    width: 70%;
    height: 10%;
}
.blob_single3 {
    position: absolute;
    top: 28%;
    right: 20%;
    width: 15%;
    height: 3%;
}
.blob_single4 {
    position: absolute;
    top: 55%;
    right: 15%;
    width: 20%;
    height: 3%;
}
.blob_single5 {
    position: absolute;
    top: 55%;
    right: 0;
    width: 10%;
    height: 5%;
}
.blob_single6 {
    position: absolute;
    top: 80%;
    right: -5%;
    width: 70%;
    height: 20%;
}

.projet_timflix {
    .blob_single2 {
        top: 40%;
    }
    .blob_single3 {
        top: 35%;
    }
    .blob_single4 {
        width: 15%;
    }
}

.projet_owo {
    .blob_single1 {
        height: 40%;
    }
    .blob_single2,
    .blob_single3 {
        display: none;
    }

    .blob_single4 {
        height: 10%;
    }
    .blob_single6 {
        top: 80%;
        height: 30%;
    }
}

.projet_cc {
    .blob_single2 {
        top: 40%;
        height: 20%;
    }
    .blob_single3 {
        top: 38%;
        height: 5%;
    }
    .blob_single4 {
        top: 70%;
        height: 5%;
    }
    .blob_single5 {
        top: 68%;
    }
}

.projet_memento {
    .blob_single2 {
        height: 20%;
    }
    .blob_single3 {
        top: 28%;
        right: 15%;
        height: 5%;
    }
    .blob_single4 {
        top: 65%;
        height: 5%;
    }
    .blob_single5 {
        top: 63%;
        width: 12%;
    }
    .blob_single6 {
        top: 85%;
        @media screen and (min-width: $breakpoint-md) {
        }
    }
}
