.projets {
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
        text-align: left;
       h1{
            text-align: center;
            position: relative;
        } 
    }
    
}

.articles article:nth-child(odd) {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
     }
    .content {
        border-bottom: 1px solid var(--color-black);
        border-left: 1px solid var(--color-black);
        @media screen and (min-width: $breakpoint-md) {
            margin-right: -10%;
        }
    }
    .description-projet{
        text-align: left;
        .logiciel{
            margin-right: 15%;
        }
    }

    .btn_article{
        left: 30px;
        @media screen and (min-width: $breakpoint-md) {
            left: 10%;
        }
    }

    img {
        order: -1; 
        @media screen and (min-width: $breakpoint-md) {
            order: 0; 
        }
        
    }
}

.articles article:nth-child(even) {
    
    .content {
        border-bottom: 1px solid var(--color-black);
        border-right: 1px solid var(--color-black);
        @media screen and (min-width: $breakpoint-md) {
            align-items: flex-end;
            margin-left: -10%;
            .titre-projet{
                text-align: right;  
              }
        }
        
        
    }
    .description-projet{
        text-align: right;
        @media screen and (min-width: $breakpoint-md) {
           justify-content: flex-end;
        }
        .logiciel{
            order: -1;
            margin-right: 10px;
        }
    }
    .btn_article{
        right: 30px;
        @media screen and (min-width: $breakpoint-md) {
            right: 10%;
        }
    }
}
.articles article {
    position: relative;
    margin-bottom: 60px;

    @media screen and (min-width: $breakpoint-md) {
       display: flex;
       flex-direction: row;
       justify-content: center;

       margin-bottom: 100px;
    }

    .content {
        padding: 15px;
        @media screen and (min-width: $breakpoint-md) {
            width: 48%;
        }
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
        color: var(--color-secondary);
    }
    img {
        margin-top: -50px;
        margin-bottom: -50px;
        @media screen and (min-width: $breakpoint-sm) {
            max-width: 80%;
            align-self: center;
        }
        @media screen and (min-width: $breakpoint-md) {
            width: 48%;
        }
    }
    .titre-projet p {
        text-align: center;
        margin-top: 0;
        @media screen and (min-width: $breakpoint-md) {
            text-align: inherit;
        }
    }
    .description-projet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;


        margin: 30px 0;
        p {
            margin: 0 10px 0 0;
            @media screen and (min-width: $breakpoint-md) {
                width:70%;
            }
        }
        svg {
            margin-bottom: 10px;
        }
    }
    .logiciel{
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction:column;
        }
    }
    .btn_article {
        position: absolute;
        bottom: -30px;
        
    }
}
