/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: nones;
    &:link {
        color: var(--color-black);
        text-decoration: none;
    }

    &:visited {
        color: var(--color-black);
    }

    &:hover {
        color: var(--color-secondary-darker);

    }

    &:active {
        color: var(--color-secondary);
    }

    &:focus {
        color: var(--color-secondary);
    }
}
