/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    padding: 0 10px;
    @media screen and (min-width: $breakpoint-sm) {
        padding: 0 15px;
    }
    @media screen and (min-width: $breakpoint-sm) {
        padding: 0 40px;
    }
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}
