/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #444;

    // Couleurs du projet
    --color-primary: #FACACC;
    --color-primary-darker: #D08D8F;
    --color-secondary: #709981;
    --color-secondary-darker: #4C6A59;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-primary);
}
